# Dependencies
/.deps
/.distfiles
/embed/wintun.dll
/setup/bin

# Build Output
/x86
/amd64
/arm
/arm64

# Misc
/locales/*/out.gotext.json
/sign.bat
*.swp
*.bak
*.syso
.idea
*.ico
amneziawg-windows-client.exe
